@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: white;
}

span {
  font-weight: 700;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

#my-initials {
  color: #3cb7cb !important;
  padding: 10px 10px;
}

#my-initials:visited {
  color: #3cb7cb !important;
}

.initials-container {
  font-size: 22px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-links-container {
  display: flex;
  font-size: 16px;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

.header-links-container a {
  cursor: pointer;
}

#page-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url(https://media.istockphoto.com/photos/abstract-background-of-geometric-shape-3d-rendering-picture-id1249495546?k=20&m=1249495546&s=612x612&w=0&h=2CqzkLzTKB_KwRA2vRBsm-NsqmB1wvz2-fG5yAHoGII=)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
}

.stephen {
  font-weight: 700;
  font-size: 20px;
}

#page-2 {
  min-height: 100vh;
  width: 100%;
  background: rgb(54, 54, 54);
  background: radial-gradient(
    circle,
    rgba(54, 54, 54, 1) 0%,
    rgba(34, 34, 34, 1) 50%,
    rgba(4, 4, 4, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}

.page-2-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  height: 50%;
  width: 100%;
}

.project-image {
  height: 260px;
  border-radius: 12px;
  cursor: pointer;
}

.page-2-bottom {
  height: 50%;
  width: 100%;
  padding-top: 40px;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  gap: 20px;
}

.app-box {
  /* margin-top: 80px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.app-box:hover {
  transform: scale(1.1);
}

.page-2-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-app-description-box {
  display: none;
}
.show-description {
  text-align: center;
  width: 1000px;
  margin-bottom: 80px;
  display: block;
}

.app-description-p {
  line-height: 24px;
  margin-top: 24px;
}

#weather-demo-CTA {
  display: inline-block;
  margin-top: 32px;
  color: #3cb7cb;
  text-decoration: none;
  border: 2px solid #3cb7cb;
  border-radius: 4px;
  padding: 8px 14px;
  font-size: 30px;
}

#weather-demo-CTA:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#page-3 {
  min-height: 100vh;
  width: 100%;
  background: rgb(54, 54, 54);
  background: radial-gradient(
    circle,
    rgba(54, 54, 54, 1) 0%,
    rgba(34, 34, 34, 1) 50%,
    rgba(4, 4, 4, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.icons-bottom {
  margin-top: 100px;
}

.skill-icons {
  width: 200px;
  margin: 10px;
}

#page-4 {
  min-height: 100vh;
  width: 100vw;
  background-color: #040404;
  /* background: rgb(64,64,64);
background: radial-gradient(circle, rgba(64,64,64,1) 0%, rgba(13,13,13,1) 50%, rgba(4,4,4,1) 100%); */
  background: rgb(54, 54, 54);
  background: radial-gradient(
    circle,
    rgba(54, 54, 54, 1) 0%,
    rgba(34, 34, 34, 1) 50%,
    rgba(4, 4, 4, 1) 100%
  );
  padding: 40px 20px;
}

.page-4-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-side-text {
  width: 600px;
}

.left-side-text p {
  margin: 32px;
  font-size: 20px;
  font-weight: lighter;
  color: rgb(209, 208, 208);
  justify-self: flex-end;
}

.right-side {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 64px;
}

#stephen-pic {
  justify-self: center;
  height: 400px;
  width: auto;
}

.profile-image {
  width: 400px;
  border-radius: 12px;
}

@media (max-width: 1050px) {
  .show-description {
    width: 800px;
  }
}

/* mobile rules */
@media (max-width: 823px) {
  .header-links-container {
    width: 200px;
  }

  .project-container {
    flex-direction: column;
  }

  .show-description {
    width: 300px;
  }

  .icons {
    flex-direction: column;
  }

  .skill-icons {
    width: 150px;
    margin: 20px;
  }

  .icons-bottom {
    margin-top: 20px;
  }

  .page-4-container {
    flex-direction: column;
  }

  .left-side {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-side {
    width: 100%;
    height: 50%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-image {
    width: 200px;
    border-radius: 12px;
  }
}
